<mat-toolbar color="primary">
  <span><a routerLink="/">MyMessages</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="isAuthinticated" mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li>
      <a *ngIf="!isAuthinticated" mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a *ngIf="!isAuthinticated" mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isAuthinticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
