
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSignup(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        required
        email
        placeholder="E-Mail"
        #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.valid">Please enter a valid email.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input
      matInput
      ngModel
      type="password"
      name="password"
      placeholder="Please enter your password"
      #passwordInput="ngModel"
      required minlength="6">
      <mat-error *ngIf="!passwordInput.valid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Signup</button>
  </form>
</mat-card>
