<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <form *ngIf="!isLoading" (submit)="onAddPost()" [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileInput.click()">Pick Image</button>
      <input type="file" (change)="onImagePick($event.target)" #fileInput accept="image/*">
    </div>
    <div class="image-preview" *ngIf="imagePreview" [style.background-image]="'url(' + imagePreview + ')'">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        formControlName="content"
        placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
