mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
  margin: 0 10px;
}

.image-preview {
  width: 12rem;
  height: 7rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
